<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <script src="http://localhost:35729/livereload.js" defer></script>
    <link rel="stylesheet" href="../Styles/styles.css">
</head>
<body>
    <header>
        
        <div class="NavigationParent">
            <nav>
                <ul>
                    <a href="/account-settings">
                        <img src="../Assets/Lightmode/Account-Icon-LM.svg" alt="Account">
                        <span></span>
                    </a>
                </ul>
                <ul>
                    <img>
                    <span></span>
                </ul>
                <ul>
                    <img>
                    <span></span>
                </ul>
                <ul>
                    <img>
                    <span></span>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        
    </main>
</body>
</html>